div.login_prompt[b-t1re1saon9] 
{
    width: 100%;
    align-items: center;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}


div.button_login[b-t1re1saon9] {
    text-align: right;
    align-items: end;
    margin: auto;
}

div.page[b-t1re1saon9]
{
    background-image: url("/paperpage");
}