table[b-17r6vhtn1u] {
    border: 0.1rem solid;
    width: 100%;
    text-align: center;
}

th[b-17r6vhtn1u], td[b-17r6vhtn1u] {
    line-height: 2rem;
}

td.book_title[b-17r6vhtn1u] {
    font-weight: bold;
    
}

div.database_status[b-17r6vhtn1u] {
    position:fixed;
    width:100%; 
    height:70px; 
    padding:5px; 
    bottom:0px;
}