table[b-17r6vhtn1u] {
    border: 0.1rem solid;
    width: 100%;
    text-align: center;
}

th[b-17r6vhtn1u], td[b-17r6vhtn1u] {
    line-height: 2rem;
}

td.book_title[b-17r6vhtn1u] {
    font-weight: bold;
    
}