div.database_input[b-exb3zqx2js] {
    width: 100%;
    align-items: center;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}

div.database_status[b-exb3zqx2js] {
    position:fixed; 
    width:100%; 
    height:70px; 
    padding:5px; 
    bottom:0px;
}