@inherits LayoutComponentBase

<div class="bb-page">

    <Sidebar @ref="sidebar"
             IconName="IconName.Book"
             Title="Biblioteka"
             DataProvider="SidebarDataProvider" />

    <main class = "page">
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <div class = "about_link">
                <a href="/about">O projekcie</a>
            </div>
        </div>
            <article class="content px-4">
                <div class="py-2">
                        @Body
                </div>
            </article>
    </main>

</div>

@code {
    Sidebar? sidebar;
    IEnumerable<NavItem>? navItems;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
                   {
                       new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Strona główna", Match=NavLinkMatch.All},
                       new NavItem { Id = "2", Href = "/browse", IconName = IconName.List, Text = "Zasoby biblioteki"},
                       new NavItem { Id = "3", Href = "/database_settings", IconName = IconName.DatabaseExclamation, Text = "Ustawienia bazy danych"},
                       new NavItem { Id = "4", Href = "/account", IconName = IconName.PersonBoundingBox, Text = "Zaloguj się"},
                       new NavItem { Id = "5", Href = "/register", IconName = IconName.PersonAdd, Text = "Zarejestruj się"}
                   };

        return navItems;
    }
}

