main.page {
    background-image: url("/dololo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    font-size: 24px;
    color: black;
    font-family: Verdana, sans-serif;
}

div.bb-top-row
{
    background-color: rgb(202, 132, 75);
}

a
{
    color: white;
}

.sidebar {
    background-color: red;
}


