main.page {
    background-image: url("/dololo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

div.bb-top-row
{
    background-color: gray;
}

a
{
    color: white;
}

.sidebar {
    background-color: red;
}