@using Microsoft.EntityFrameworkCore
@using ProjektZaliczeniowyPR3.Components

@inject NavigationManager Navigator

<h2>Usuń książkę z bazy danych</h2>

@if (ifConnectionSuccessful)
{
    <div class = "table">
        <table>
            <thead>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Opis</th>
                <th>Usuń książkę</th>
            </thead>
            <tbody>
                @if (_books is not null)
                {
                    @foreach (var book in _books)
                    {
                        <tr>
                            <td style = "book_title">@book.Title</td>
                            <td>@book.Author</td>
                            <td>@book.Description</td>
                            <td><button @onclick = "() => DeleteBook(book.Id)"> <Icon Name = "IconName.Trash"></Icon> </button> </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
}

@code
{
    [Parameter] public int UserId { get; set;} = -1;

    [Parameter] public bool ifConnectionSuccessful { get; set; } = false;

    public List<Book> _books { get; set; } = new();

    protected override void OnInitialized()
    {
        if (ifConnectionSuccessful && UserId != -1)
        {
            Book book = new();
            using (var db = new LibraryContext())
            {
                _books = db.books
                    .ToList();
            }
        }
    }

    protected void DeleteBook(int Id)
    {
        if (ifConnectionSuccessful)
        {
            using (var db = new LibraryContext())
            {
                try
                {
                    Book book = new();
                    List<User> users = new();
                    User admin = new();
                    Logs newLog = new();
                    book = db.books
                    .Single(book => book.Id == Id);
                    users = db.users
                    .ToList();
                    foreach (var user in users)
                    {
                        if (user.Id == book.UserId)
                        {
                            user.Books.Remove(book);
                        }
                    }
                    db.Entry(book).State = EntityState.Deleted;
                    db.SaveChanges();
                    
                    admin = db.users
                    .Single(user => user.Id == UserId);
                    newLog.Username = admin.Username;
                    newLog.IsUserAdmin = admin.isAdmin;
                    newLog.OperationsType = Logs.OperationType.BookReturn;

                    db.logs.Add(newLog);

        

                }
                catch (Exception e)
                {
                    Console.WriteLine(e.Message);
                }
                finally {}

            }
        }
        Navigator.NavigateTo("/refresh/" + UserId.ToString());
    }

}
