@inject NavigationManager Navigator

<h2>Usuń książkę z bazy danych</h2>

@if (ifConnectionSuccessful)
{
    <div class = "table">
        <table>
            <thead>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Opis</th>
                <th>Usuń książkę</th>
            </thead>
            <tbody>
                @if (_books is not null)
                {
                    @foreach (var book in _books)
                    {
                        <tr>
                            <td>@book.Title</td>
                            <td>@book.Author</td>
                            <td>@book.Description</td>
                            <td><Button Color="ButtonColor.Secondary" @onclick = "() => DeleteBook(book.Id)"> <Icon Name = "IconName.Trash"></Icon> </Button> </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
}

@code
{
    [Parameter] public int UserId { get; set;} = -1;

    [Parameter] public bool ifConnectionSuccessful { get; set; } = false;
    

    public List<Book> _books { get; set; } = new();

    protected override void OnInitialized()
    {
        if (ifConnectionSuccessful && UserId != -1)
        {
            Book book = new();
            using (var db = new LibraryContext())
            {
                _books = db.books
                    .ToList();
            }
        }
    }

    protected async void GenerateDeleteLog()
    {
        Logs newLog = new();
        using (var db = new LibraryContext())
        {
           User user = db.users
                .Single(user => user.Id == UserId);
            newLog.Username = user.Username;
            newLog.IsUserAdmin = user.isAdmin;
            newLog.OperationsType = Logs.OperationType.BookDelete;

            db.logs.Add(newLog);
            await db.SaveChangesAsync();
        }
    }

    protected void DeleteBook(int Id)
    {
        Book? book = _books.Find(book => book.Id == Id);
        if (book is not null)
            book.RemoveBook();
        Navigator.NavigateTo("/refresh/");
    }

}
