@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* _content/ProjektZaliczeniowyPR3/Components/Layout/MainLayout.razor.rz.scp.css */
div.page[b-wz8hpxp6ik] {
    background-image: "/page/paperpage.jpg"
}
/* _content/ProjektZaliczeniowyPR3/Components/Pages/About.razor.rz.scp.css */
div.h1[b-z5u6rjc3ts] {
    font-size: 42px;
}
/* _content/ProjektZaliczeniowyPR3/Components/Pages/Account.razor.rz.scp.css */

div.button_login[b-t1re1saon9] {
    text-align: right;
    align-items: end;
    margin: auto;
}

div.page[b-t1re1saon9]
{
    background-image: url("/paperpage");
}
/* _content/ProjektZaliczeniowyPR3/Components/Pages/BrowseLibrary.razor.rz.scp.css */
table[b-17r6vhtn1u] {
    border: 0.1rem solid;
    width: 100%;
    text-align: center;
}

th[b-17r6vhtn1u], td[b-17r6vhtn1u] {
    line-height: 2rem;
}

td.book_title[b-17r6vhtn1u] {
    font-weight: bold;
    
}

div.database_status[b-17r6vhtn1u] {
    position:fixed; 
    width:100%; 
    height:70px; 
    padding:5px; 
    bottom:0px;
}
/* _content/ProjektZaliczeniowyPR3/Components/Pages/DatabaseConnection.razor.rz.scp.css */
div.database_input[b-exb3zqx2js] {
    width: 100%;
    align-items: center;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}

div.database_status[b-exb3zqx2js] {
    position:fixed; 
    width:100%; 
    height:70px; 
    padding:5px; 
    bottom:0px;
}
/* _content/ProjektZaliczeniowyPR3/Components/Pages/Home.razor.rz.scp.css */
div.database_status[b-9ey9q3cay0] {
    position:fixed; 
    width:100%; 
    height:70px; 
    padding:5px; 
    bottom:0px;
}
/* _content/ProjektZaliczeniowyPR3/Components/Pages/Register.razor.rz.scp.css */
div.error_message[b-hm9y1g10b9]
{
    position:fixed; 
    width:100%; 
    height:70px; 
    padding:5px; 
    top:100%;
    bottom:0px;
    color: red;
}
