@page "/404"


<h1 style = "text-align: center;">Coś poszło nie tak!</h1>

<div class = "errorMessage">
    <p style = "font-size: 24px; color = red; text-align: center;">Podana strona nie została odnaleziona w naszym serwisie!<br/></p>
</div>
<p style = "font-size: 24px; text-align: center;" >Aby bezproblemowo poruszać się po Bibliotece użyj panelu nawigacyjnego po lewej stronie ekranu.</p>

