@page "/about"
@using ProjektZaliczeniowyPR3.LibraryTests

<PageTitle>O projekcie</PageTitle>

<div class = "page">
    <h1>O projekcie</h1>

    <p>Biblioteka to aplikacja webowa zaprojektowana w ramach zaliczenia przedmiotu Programowanie 3 (C#) w roku akademickim 2023/2024.</p>
    Wykorzystane narzędzia:
    <ul>
        <li>Blazor</li>
        <li>Blazor Bootstrap</li>
        <li>Npgsql</li>
        <li>PostgreSQL</li>
        <li>Entity Framework Core</li>
        <li>Biblioteki kryptograficzne</li>
    </ul>

    <p><b>Raport z testów jednostkowych:</b></p>
    <ul>
        <li>Jednoznaczność enkrypcji:
            @if (EncryptionUnambiguity)
            {
                <p style = "color: green;">Powodzenie!</p>    
            } else 
            {
                <p style = "color: red;">Niepowodzenie!</p>
            }
        </li>
        <li>Unikalność enkrypcji:
            @if (EncryptionUnambiguity)
            {
                <p style = "color: green;">Powodzenie!</p>    
            } else 
            {
                <p style = "color: red;">Niepowodzenie!</p>
            }
        </li>
    </ul>
</div>


<div class = "footer">
    <p>2024 Bartłomiej Wiśniewski</p>
</div>


@code {
    bool EncryptionUnambiguity, EncryptionUniqueness;

    protected override void OnInitialized()
    {
        UnitTests test = new();
        
        EncryptionUnambiguity = test.TestEncryptionUnambiguity();
        EncryptionUniqueness = test.TestEncryptionUniqueness();
    }
}
