@page "/about"
@using ProjektZaliczeniowyPR3.LibraryTests

<PageTitle>O projekcie</PageTitle>

<div class = "page">
    <h1>O projekcie</h1>

    <p>Biblioteka to aplikacja webowa zaprojektowana w ramach zaliczenia przedmiotu Programowanie 3 (C#) w roku akademickim 2023/2024.</p>
    Wykorzystane narzędzia:
    <ul>
        <li>Blazor</li>
        <li>Blazor Bootstrap</li>
        <li>Npgsql</li>
        <li>PostgreSQL</li>
        <li>Entity Framework Core</li>
        <li>Biblioteki kryptograficzne</li>
    </ul>
</div>


<div class = "footer">
    <p>2024 Bartłomiej Wiśniewski</p>
</div>

