div.login_prompt 
{
    width: 100%;
    align-items: center;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}


div.button_login {
    text-align: right;
    align-items: end;
    margin: auto;
}

div.page
{
    background-image: url("/paperpage");
}