@page "/browse"
@using Microsoft.Data.SqlClient
@using ProjektZaliczeniowyPR3.Models
@using ProjektZaliczeniowyPR3.Data;
@using ProjektZaliczeniowyPR3.DatabaseConnection
@inject NavigationManager Navigator
@using static Microsoft.EntityFrameworkCore.RelationalDatabaseFacadeExtensions;
<PageTitle>Zasoby bazy danych</PageTitle>
<h1>Zasoby biblioteki</h1>
@if (ifConnectionSuccessful)
{
<div class = "table">
    <table>
        <thead>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Dostępność</th>
            <th>Opis</th>
        </thead>
        <tbody>
            @foreach (var book in _books)
            {
                <tr>
                    <td style = "book_title">@book.Title</td>
                    <td>@book.Author</td>
                    <td>Dostępna</td>
                    <td>@book.Description</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<button @onclick = "ClearTable">Wyczyść dane</button>
}

<div class = "database_status">
    <p>Status połączenia z bazą danych:</p>
    @if (!ifConnectionSuccessful)
    {
        <p style = "color: red">Brak połączenia!</p>
        <button>Zaktualizuj ustawienia</button>
    }
    else
    {
        <p style = "color: green">Połączono pomyślnie</p>
    }
</div>

@code {

    bool ifConnectionSuccessful = false;
    [Parameter] public bool isLoggedIn { get; set; } = false;
    [Parameter] public bool isAdmin { get; set; } = false;

    List<Book> _books = new();

    protected override void OnInitialized()
    {
        ConnectionInfo info = new();
        if (info.TryConnection())
        {
            using (var db = new LibraryContext())
            {
                if (db.Database.CanConnect())
                {
                    ifConnectionSuccessful = true;
                }
                _books = db.books
                    .OrderBy(b => b.Title)
                    .ToList();
            }
        }
    }

    protected void ClearTable()
    {
        using (var db = new LibraryContext())
        {
            db.Database.ExecuteSqlRaw("TRUNCATE TABLE \"Books\"");
        }

        Navigator.NavigateTo("/");
    }
}    
