@page "/database_settings"

@using ProjektZaliczeniowyPR3.DatabaseConnection
@using ProjektZaliczeniowyPR3.Data
@using System.Text.Json

@inject NavigationManager Navigator

<PageTitle>Ustawienia bazy danych</PageTitle>
<h1>Ustawienia bazy danych</h1>
<br/>
<div class = "database_input">
    <p>Nazwa hosta</p>
    <input @bind = "input._host">
    <br/>
    <p>Port hosta</p>
    <input @bind = "input._port">
    <br/>
    <p>Nazwa użytkownika bazy danych</p>
    <input @bind = "input._username">
    <br/>
    <p>Hasło użytkownika</p>
    <input @bind = "input._password">
    <br/>
    <p>Nazwa bazy danych</p>
    <input @bind = "input._database">

    <br/>
    <button @onclick = "SaveInput">Zapisz do pliku</button>
</div>

<p>@response</p>

<br/><br/>
<div class = "database_status">
    <p>Status połączenia z bazą danych:</p>
    @if (!ifConnectionSuccessful)
    {
        <p style = "color: red"><b>Brak połączenia z bazą danych!</b></p>
    }
    else
    {
        <p style = "color: green"><b>Połączono pomyślnie</b></p>
    }
</div>

@code
{
    ConnectionInfo info = new();
    ConnectionInfo input = new();

    string response = "";
    bool ifConnectionSuccessful = false;

    protected override void OnInitialized()
    {
        ifConnectionSuccessful = info.TryConnection();
    }

    protected void SaveInput() 
    {
        if (input.PrepareToSave() == "Save successful")
        {
            response = "Zapisano pomyślnie. Próba połączenia!";
            ifConnectionSuccessful = input.TryConnection();
            Navigator.NavigateTo("/database_settings");
        }
    }

}
