@page "/"
@using Microsoft.Data.SqlClient
@using ProjektZaliczeniowyPR3.Models
@using ProjektZaliczeniowyPR3.Data;
@using ProjektZaliczeniowyPR3.DatabaseConnection;

<PageTitle>Strona główna</PageTitle>

<h1>Biblioteka</h1>

<b>Witamy w Bibliotece!</b><br/>
Możesz swobodnie przeglądać nasze zasoby. W celu wypożyczenia wybranej książki należy się zalogować, lub w przypadku braku konta - zarejestrować.
<br/>

<div class = "database_status">
    <p>Status połączenia z bazą danych:</p>
    @if (!ifConnectionSuccessful)
    {
        <p style = "color: red"><b>Brak połączenia z bazą danych!</b></p>
    }
    else
    {
        <p style = "color: green"><b>Połączono pomyślnie</b></p>
    }
</div>

<BrowseLibrary isAdmin = "false" isLoggedIn = "false"></BrowseLibrary>

@code
{
    bool ifConnectionSuccessful = false;
    ConnectionInfo info = new();


    protected override void OnInitialized()
    {
        ifConnectionSuccessful = info.TryConnection();
    }

}
